<spacer size="8"></spacer>

<row>

	{{#repeat 3}}

	<columns large="4">

		<div class="item-container">

			<row><columns><p><img src="http://www.begemot.ru/upload/email/Test/v_0_kapotnya/assets/img/assets__items_bicycle.jpg"></p></columns></row>

			<!-- <row><columns><p class="text-center"><a href="${ DETAIL_LINK_URL }">${ ITEM_NAME }</a></p></columns></row> -->
			<row><columns><p class="text-center"><a href="#">Беговел Yanaha трехколесный "Минни" и е...</a></p></columns></row>

			<!-- <row class="vertical-collapse"><columns><p class="item-price text-center">${ TOTAL_PRICE } руб.</p></columns></row> -->
			<row class="vertical-collapse"><columns><p class="item-price text-center">18 руб.</p></columns></row>

			{{>_item-small-price}}

			<!-- <row><columns><button class="radius alert expanded" href="${ DETAIL_LINK_URL }">купить</button></columns></row> -->
			<row><columns><button class="radius alert expanded" href="#">купить</button></columns></row>

		</div>

	</columns>

	{{/repeat}}

</row>