//  Foundation for Emails Settings
//  ------------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Grid
//   3. Block Grid
//   4. Typography
//   5. Button
//   6. Callout
//   7. Menu
//   8. Thumbnail


// 1. Global
// ---------

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  -webkit-font-smoothing: antialiased;
}

$primary-color: #11aa99;
$secondary-color: #eeeeee;
$success-color: #88cc33;
$warning-color: #ffcc11;
$alert-color: #ee5522;
$super-light-gray: #f4f4f4;
$light-gray: #eeeeee;
$medium-gray: #cccccc;
$dark-gray: #999999;
$black: #333333;
$white: #ffffff;
$pre-color: #ff6908;
$global-width: 560px;
$global-width-small: 100%;
$global-gutter: 16px;
$body-background: url('../assets/img/pattern_white.png') 0 0 repeat $super-light-gray;
$container-background: $white;
$global-padding: 16px;
$global-margin: 16px;
$global-radius: 16px;
$global-rounded: 500px;
$global-breakpoint: $global-width + $global-gutter;

// 2. Grid
// -------

$grid-column-count: 12;
$column-padding-bottom: $global-padding / 2;
$container-radius: 0;

// 3. Block Grid
// -------------

$block-grid-max: 8;
$block-grid-gutter: $global-gutter;

// 4. Typography
// -------------

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=cyrillic');

$global-font-color: $black;
$body-font-family: Helvetica, Arial, sans-serif;
$global-font-weight: normal;
$header-color: #442211;
$global-line-height: 1.4;
$global-font-size: 15px;
$body-line-height: $global-line-height;
$header-font-family: 'Noto Sans', $body-font-family;
$header-font-weight: normal;
$h1-font-size: 30px;
$h2-font-size: 26px;
$h3-font-size: 22px;
$h4-font-size: 20px;
$h5-font-size: 18px;
$h6-font-size: 16px;
$header-margin-bottom: 8px;
$paragraph-margin-bottom: 8px;
$small-font-size: 64%;
$small-font-color: $dark-gray;
$lead-font-size: $global-font-size * 1.25;
$lead-line-height: 1.6;
$text-padding: 10px;
$subheader-lineheight: 1.4;
$subheader-color: $dark-gray;
$subheader-font-weight: $global-font-weight;
$subheader-margin-top: 4px;
$subheader-margin-bottom: 8px;
$hr-width: $global-width;
$hr-border: 1px solid $light-gray;
$hr-margin: 16px auto;
$anchor-text-decoration: none;
$anchor-color: $primary-color;
$anchor-color-visited: $anchor-color;
$anchor-color-hover: darken($primary-color, 10%);
$anchor-color-active: $anchor-color-hover;
$stat-font-size: 40px;

// 5. Button
// ---------

$button-padding: (
  tiny: 8px 10px 8px 10px,
  small: 10px 14px 10px 14px,
  default: 10px 32px 12px 32px,
  large: 16px 26px 16px 26px,
);
$button-font-size: (
  tiny: 12px,
  small: 14px,
  default: 14px,
  large: 22px,
);

$button-color: $white;
$button-color-alt: $black;
$button-font-weight: bold;
// $button-margin: 0 0 $global-margin 0;
$button-margin: 0 0 0 0;
$button-background: $primary-color;
$button-border: 2px solid $button-background;
$button-radius: $global-radius;
// $button-rounded: $global-rounded;
$button-rounded: 20px;

// 6. Callout
// ----------

$callout-background: $white;
$callout-background-fade: 85%;
$callout-padding: 10px;
$callout-margin-bottom: $global-margin;
$callout-border: 1px solid darken($callout-background, 20%);
$callout-border-secondary: 1px solid darken($secondary-color, 20%);
$callout-border-success: 1px solid darken($success-color, 20%);
$callout-border-warning: 1px solid darken($warning-color, 20%);
$callout-border-alert: 1px solid darken($alert-color, 20%);

// 7. Menu
// -------

$menu-item-padding: 10px;
$menu-item-gutter: 10px;
$menu-item-color: $primary-color;

// 8. Thumbnail
// ------------

$thumbnail-border: solid 4px $white;
$thumbnail-margin-bottom: $global-margin;
$thumbnail-shadow: 0 0 0 1px rgba($black, 0.2);
$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary-color, 0.5);
$thumbnail-transition: box-shadow 200ms ease-out;
$thumbnail-radius: $global-radius;

