<container class="triggerpreheader">

	<spacer class="show-for-large" size="16"></spacer>

	<row class="vertical-collapse">

		<columns class="show-for-large" large="3"></columns>
		<columns class="" large="6">
			<img src="http://www.begemot.ru/upload/email/Test/v_0_kapotnya/assets/img/assets__header__illustration_top.png">
		</columns>


		<columns class="show-for-large" large="3">			
			<p class="text-right weblink"><a href="${ Message.AccessibilityLink }">веб-версия</a> ›</p>
		</columns>
		
	</row>

</container>