// Preheader

table .autopreheader {
	background-color: transparent;
}

// Header

table .autoheader {
	background-color: $primary-color;
	border-radius: 16px 16px 0 0;
}

// Footer

table .autofooter {
  background: none;
}

// Elements