// @media

// Preheader

table .autopreheader {
	background: none;
}

// Header

table .autoheader {
	background: $primary-color;
}

.bonus {
	color: $white;
	font-weight: bold;
}

// Elements

.item-color,
.item-brand,
.item-quantity {
	font-size: 12px;
}

.item-brand,
.item-quantity {
	color: #999999;
}

.item-color {
	text-transform: uppercase;
}

.item-price {
	font-weight: bold;
}