// @media

@media only screen and (max-width: 576px) {

	table .autopreheader {
		background-color: $primary-color !important;
	}

	table .autoheader {
		border-radius: 0 0 0 0 !important;
		background-color: $white !important;
		border-bottom: 4px solid $primary-color;
	}

}

// Preheader

table .autopreheader {
	background-color: transparent;
}

// Header

table .autoheader {
	background-color: $primary-color;
	border-radius: 16px 16px 0 0;
}

.bonus-label,
.bonus-count {
	color: $white;
	font-weight: bold;
}

.bonus-label {
	font-size: 12px;
}

.bonus-count {
	font-size: 17px;
}

// Footer

// Elements

.item-color,
.item-brand,
.item-quantity {
	font-size: 12px;
}

.item-brand,
.item-quantity {
	color: $dark-gray;
}

.item-color {
	text-transform: uppercase;
}

.item-price {
	font-weight: bold;
	font-size: 16px;
}