
// Settings & overrides

hr {
  border: 1px solid $light-gray;
  margin: 18px 0 12px 0;
  Margin: 18px 0 12px 0;
}

hr.strong {
  border: 2px solid $light-gray;
}

a {
  border-bottom: 1px solid $primary-color;
}

table.vertical-collapse td.columns,
table.vertical-collapse td.column,
table.vertical-collapse th.columns,
table.vertical-collapse th.column {
  padding-bottom: 0 !important;
}

table.button.secondary table a {
  color: $black;
}

// Preheader

// Header

// Footer

table .footer {
  background: none;
  max-width: 512px;
}

.disclaimer,
.legal {
  font-size: 12px;
}

.legal {
  color: $dark-gray;
}