
// Preheader

table .triggerpreheader {
	background-color: transparent;
}

// Header

table .triggerheader {
	background-color: $warning-color;
	border-radius: 16px 16px 0 0;
}

// Body

table .triggercontent {
  border-bottom: 4px solid $warning-color;
}

// Elements



// Footer

table .triggerfooter {
  background: none;
}

// Menu

.triggermenu th {
	background: #fb1;
}

.triggermenu-item p {
	padding-top: 12px;
	padding-bottom: 3px;
}

.triggermenu-item p a {
	color: #222;
	border-bottom: none;
	font-size: 12px;
	text-transform: uppercase;
}





