// @media

@media only screen and (max-width: 576px) {

	table .triggerpreheader {
		background-color: $warning-color !important;
	}

	table .triggerheader {
		border-radius: 0 0 0 0 !important;
		background-color: $white !important;
		border-bottom: 4px solid $warning-color;
	}

}

// Preheader

table .triggerpreheader {
	background-color: transparent;
}

// Header

table .triggerheader {
	background-color: $warning-color;
	border-radius: 16px 16px 0 0;
}

// Elements

.item-container {
	padding: 16px 16px 8px 16px;
	border: 2px solid #eee;
	border-radius: 4px;
	margin: 0 8px 0 8px;
}

img.image-border {
	// border: 2px solid #eee;
	// border-radius: 4px;
}

.item-small-price-container {
	padding: 6px 4px 0 4px;
	border: 1px solid #eee;
	background-color: #f4f4f4;
	border-radius: $global-radius / 2;
}


.item-price-old {	
	font-size: 14px;
	text-decoration: line-through;
	color: #999999;
}

.item-price-new {
	font-weight: bold;
	font-size: 16px;
	color: #ee1166;
}

.item-small-price {
	font-weight: bold;
	font-size: 16px;
	color: #999999;
}

// Footer

table .triggerfooter {
  background: none;
}