
<container class="autofooter">

	<spacer size="16"></spacer>

	<row>

		<columns large="8">

			<p class="small-text-center">
				<span class="phone-no"><a href="tel:88005553300">8 800 555 33 00</a></span>
				<br>
				<span class="phone-sub">ежедневно с 8:00 до 21:45</span>
			</p>

		</columns>

		<columns small="3" large="1">
			<a href="https://vk.com/gippomarket">
				<img class="social" src="http://www.begemot.ru/upload/email/Test/v_0_kapotnya/assets/img/assets__social_vk.png">
			</a>
		</columns>

		<columns small="3" large="1">
			<a href="https://www.instagram.com/gippomarket/">
				<img class="social" src="http://www.begemot.ru/upload/email/Test/v_0_kapotnya/assets/img/assets__social_instagram.png">
			</a>
		</columns>

		<columns small="3" large="1">
			<a href="https://ok.ru/gippomarket">
				<img class="social" src="http://www.begemot.ru/upload/email/Test/v_0_kapotnya/assets/img/assets__social_ok.png">
			</a>
		</columns>

		<columns small="3" large="1">
			<a href="https://www.facebook.com/Gippomarket/">
				<img class="social" src="http://www.begemot.ru/upload/email/Test/v_0_kapotnya/assets/img/assets__social_facebook.png">
			</a>
		</columns>

	</row>

	<row>
		<columns>

			<spacer size="8"></spacer>

			<p class="text-center disclaimer">
				Вы получили это письмо, потому что {{footer-reason}} на сайте <a class="tooltip" href="http://begemot.ru">www.begemot.ru</a>.
			</p>
			<p class="text-center disclaimer">
				{{footer-extra}}
			</p>

			<!-- <p class="text-center legal"><a href="#">Управление подпиской</a> &bull; <a href="#">Отписаться</a></p> -->

			<p class="text-center legal">ООО «Сити Тойс», ОГРН 1156320003443. Юридический адрес: 445035, Самарская область, г. Тольятти, ул. Дзержинского, д. 74, помещение 3</p>
		</columns>
	</row>

</container>