
<container class="footer">

	<spacer size="16"></spacer>

	<row><columns large="6">phone</columns><columns large="6">social</columns></row>

	<row>
		<columns>

			<p class="text-center disclaimer">
				Вы получили это письмо, потому что {{footer-reason}} на сайте <a href="http://www.begemot.ru">www.begemot.ru</a>.
			</p>
			<p class="text-center disclaimer">
				{{footer-extra}}
			</p>

			<p class="text-center legal"><a href="#">Управление подпиской</a> &bull; <a href="#">Отписаться</a></p>

			<p class="text-center legal">ООО «Сити Тойс», ОГРН 1156320003443. Юридический адрес: 445035, Самарская область, г. Тольятти, ул. Дзержинского, д. 74, помещение 3</p>
		</columns>
	</row>

</container>