	<row>
		<columns>
			<p class="text-center">Стоимость товаров: <strong>#ORDER_PRICE#</strong> руб.</p>
			<p class="text-center">Доставка: <strong>#DELIVERY_PRICE#</strong> руб.</p>
			<p class="item-price text-center"><strong>Итого: #ORDER_TOTAL_PRICE# руб.</strong></p>

			<spacer size="8"></spacer>

			<center><button class="alert radius small-expanded" href="#ORDER_LINK#">оформить заказ</button></center>

			<spacer size="16"></spacer>
						
			<center><button class="secondary radius small-expanded" href="#ORDER_LINK#">добавить всё в избранное</button></center>

			<spacer size="16"></spacer>
		</columns>
	</row>