

<row>

	{{#repeat 1}}

	<columns large="6">

		<img class="image-border" src="{{root}}assets/img/assets__items_bottle.jpg">

	</columns>

	<columns large="6">

		<spacer size="32"></spacer>

		<row><columns><p class="small-text-center"><a href="#DETAIL_LINK_URL#">Бутылочка Fenber Stratobuster S-202-180, серый...</a></p></columns></row>

		<!-- <row><columns><p class="item-price-new text-center">#TOTAL_PRICE# руб.</p></columns></row> -->

		<row class="vertical-collapse"><columns><p class="item-price">3 499 руб.</p></columns></row>

		{{>_item-small-price}}

		<row><columns><button class="radius alert expanded" href="#DETAIL_LINK_URL#">купить</button></columns></row>

	</columns>

	{{/repeat}}
	
</row>