<row class="triggermenu vertical-collapse">
	<columns small="12" large="4" class="triggermenu-item"><p class="text-center"><a href="http://begemot.ru/catalog/">Каталог</a></p></columns>
	<columns small="12" large="4" class="triggermenu-item"><p class="text-center"><a href="#">Акции</a></p></columns>
	<columns small="12" large="4" class="triggermenu-item"><p class="text-center"><a href="#">Магазины</a></p></columns>
	<columns small="12" large="4" class="triggermenu-item"><p class="text-center"><a href="http://игрушки.рф/pages/bonuses/check-balance">Мой баланс</a></p></columns>
</row>